*
{
  box-sizing: border-box;
}
body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-width: 992px;
  height: auto;
}

.main
{
  position: relative;
  height: 100vh;
  border: 2px solid Green;
  background-image: linear-gradient(-1deg, rgba(77,121,194,0.22) 0%, rgba(77,121,194,0.00) 100%);
}

.navbar
{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 20px;
  width:100%;
  line-height: 80px;
  height: 80px;
  vertical-align: middle;
  border: 2px solid #CCC;

}

.main .navbar a
{
  float: left;

}
.navbar #logo
{
  float: left;
  border: 2px solid Red;
}
.navbar #logo img
{

  border: 2px solid Red;
}

.navbar .menu
{
  list-style: none;
  font-size: 25px;
  vertical-align: middle;
  margin: 0;

}
.navbar .menu-left
{
  float:left;
  border: 2px solid Red;
}
.navbar .menu-right
{
  float: right;
  border: 2px solid Red;
}
.navbar .menu li
{
  float:left;
  line-height: 30px;
}
.navbar .menu li a
{
  line-height: 30px;
  text-decoration: none;
  color: #817C92;
  border: 2px solid Red;
  margin: 0 17px;
}
.content
{
  display: inline-block;
  border: 4px solid Blue;

}
.content .part
{
  display: inline-block;
  line-height: normal;
  border : 2px solid Blue;
  float: left;
  width: 50%;

}
.content img
{
  display: inline-block;
  border: 2px solid Blue;
  float: right;
  width: 40%;
}
.content .part #button
{
  margin-left: -100px;
}
/*
레이아웃
  레이아웃이 있는 이유 : 한줄로 화면이 좋을까? xx 배치를위함
  display : block
            inline-block
            inline
            none(공간도차지하지않고 안보임)
            visibility(visibility:hidden은 공간은 차지)

*/
