.header {
	justify-content: center;
	align-items: center;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #301e4e;
}

.content {
	font-family: system-ui, serif;
	font-size: 2rem;
	padding: 3rem;
	border-radius: 1rem;
	background: #ff6e6c;
	width: 70%;
}
#container {
	background: #ff6e6c;
	font-family: system-ui, serif;
	font-size: 2rem;
	padding: 3rem;
	border-radius: 1rem;
}
